{{#if loggedIn}}
<div
  id="room"
  data-room="{{roomID}}"
  data-code="{{code}}"
  class="row main m-auto w-100"
  style="color: #d8d7df"
>
  <div style="background-color: #2d2f35" class="col-2 p-4 h-100">
    <div class="row g-0 text-start">
      <button
        type="button"
        class="btn p-0 w-100 text-start btn-link mb-5"
        id="videoChannel"
        data-room="{{roomID}}"
        data-audio="{{roomID}}"
        style="text-decoration: none; color: #d8d7df; opacity: 0.5"
      ><i class="fas fa-video"></i>Click to Share Video</button>
      <button
        type="button"
        class="btn p-0 w-100 text-start btn-link"
        id="audioChannel1"
        data-room="{{roomID}}"
        data-audio="{{roomID}}"
        style="text-decoration: none; color: #d8d7df; opacity: 0.5"
      >
        <i class="fas fa-volume-up"></i> Voice Chat
      </button>
      <div class="row g-0 mb-3 px-5 w-100 audioSection">
        <ul class="px-5 mx-5" id="appendAudio"></ul>
        <audio autoplay="true"></audio>
      </div>
    </div>
  </div>
  <div
    style="background-color: #363940; max-height: 97%"
    class="col-xl p-4 g-0"
  >
    <div
      class="row mb-3 g-0 chat-header text-center mx-auto border-bottom border-primary"
    >
      <h6 id="user" data-user="{{user_id}}">Chat</h6>
    </div>
    <div class="row" style="height: 97%; max-height: 97%">
      <div class="row g-0 w-100 chat-window" id="chat-window">
        <div class="row g-0 w-100 chat-window" id="chat-window">
           <div class="row g-0 w-100 video-window" id="video-window">

           </div>
        <video id="videoElement"></video>
        {{!-- <canvas id="canvasLessTwo" width="240" height="180" style="display:none"></canvas> --}}
        {{!-- <canvas id="canvasLessOne" width="240" height="180" style="display:none"></canvas> --}}
        {{!-- <canvas id="canvas" width="240" height="180" style="display:none"></canvas> --}}
        {{!-- <canvas id="canvasDiff" width="240" height="180" ></canvas> --}}
        <div id="moveWindow">
          <div id="allUserPos" style="display:none">

          </div>

        </div>
        {{!-- <div class="userPos" id="userPos_{{user_id}}" userPosx="0" userPosy="0" userPosz="0"  style="display:none"></div> --}}

        <ul id="chatCards" class="messages g-0">
          {{#each messages as |message| }}
          <div class="row card mb-2 p-3 message-card">
            <div
              class="card-header p-1"
              style="background-color: transparent; border: none"
            >
              {{message.user.name}}
              <small class="text-muted"
                >{{format_date message.date_created}}</small
              >
            </div>
            <div class="card-body p-1">{{message.text}}</div>
          </div>
          {{/each}}
        </ul>
      </div>
      <div
        class="input-group mt-3 border-top border-secondary p-3 fixed-bottom"
        style="background-color: #363940"
      >
        <button class="btn text-light btn-warning" id="leaveVoice">
          <i class="fas fa-phone-slash text-light"></i> Leave Voice Chat
        </button>

        <input
          style="background-color: #2d2f35; color: #d8d7df; position: relative"
          type="text"
          class="form-control border border-dark"
          id="chat-message"
          placeholder="Type message here..."
          aria-label="Type message here..."
          aria-describedby="basic-addon1"
        />
        <button id="leaveRoom" class="btn btn-danger">
          <i class="text-light fas fa-sign-out-alt"></i> Delete Room
        </button>
      </div>
    </div>
  </div>
</div>
<script src="/js/roomchat.js"></script>
{{!-- <script src="/js/vidProc.js"></script> --}}
{{else}}
<div class="card-title text-center">Unauthorized Access</div>
<p class="card-text text-center">You do not have access for this room.</p>
{{/if}}
